.App {
  text-align: center;
}



.App-header {
  /* background-color: #282c34; */
  /* background-color:#435b8a;  */

  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  /* color: white; */
}
.img {
 
  width: 120px;  
height: auto;  
}
.imgpreview img {
  width:100%;
}

table{
  align-items: center;
  table-layout:fixed;
  width:100%;
  margin:auto;
}

table, th, td {
  border: 1px solid rgb(248, 245, 245);
  border-collapse: collapse;
  align-items: center;
}

.inputs {
  display: flex;
  flex-direction:column;
  /* flex-direction:row */
}

/* 
table td img{

} */
